<h2><%= @section.section %> <small><%= @section.filename %></small></h2>
<p><%= @section.description %></p>
<% if @section.modifiers.any? %>
  <ul>
    <% @section.modifiers.each do |modifier| %>
      <li>
        <span class="label label-info"><%= modifier.name %></span> - 
        <%= modifier.description %></li>
    <% end %>
  </ul>
<% end %>
<%= @example_html %>
<% if @section.modifiers.count > 0 %>
  <% @section.modifiers.each do |modifier| %>
    <p><span class="label"><%= modifier.name %></span></p>
    <%= @example_html.sub('$modifier_class', " #{modifier.class_name}") %>
    <br>
  <% end %>
<% end %>
<pre><%= @escaped_html %></pre>
<hr>